:root {
  --es-identity-color: #ec6a0a;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Cairo", sans-serif;
  position: relative;
}
ul {
  list-style: none;
  padding-left: 0;
}
a {
  text-decoration: none;
}
/* width */
::-webkit-scrollbar {
  width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* RESET SLICK CAROUSEL */
.slick-active {
  color: var(--es-identity-color);
}
.slick-dots.slick-thumb.details {
  bottom: -50px;
}
.slick-dots.slick-thumb.details li {
  margin-inline: 17px;
}
.slick-dots.slick-thumb.details li span img {
  filter: grayscale(100);
}
.slick-dots.slick-thumb.details li.slick-active span img {
  filter: grayscale(0);
}
/* RESET BOOTSTRAP PAGINATION */
a.page-link {
  color: black;
  border: none;
}
a.page-link:hover {
  color: black;
  background-color: rgba(118, 118, 118, 0.2);
}
.page-item.disabled a.page-link {
  color: gray;
}
.page-item.active a.page-link {
  color: var(--es-identity-color);
  background-color: rgba(118, 118, 118, 0.2);
}
